body {
    margin: 0;
    padding: 0;
    background-image: url('MHT1.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    font-family: Garamond, serif; 
  }
  
  .container {
    position: relative;
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  
  .square {
    width: 400px;
    max-height: 80%; 
    overflow: auto; 
    background-color: darkgreen;
    text-align: center;
    color: yellow;
    padding: 20px; 
    font-size: 18px; 
    line-height: 1.6; 
  }
  .top-bar {
    background-color: darkgreen;
    padding: 10px 0; 
    text-align: center;
  }
  
  .return-home {
    color: yellow;
    text-decoration: none;
    font-family: Garamond, serif; 
  }
  