body {
    margin: 0;
    padding: 0;
    background-image: url('MHT.gif');
    background-size: cover; 
    background-repeat: no-repeat; 
  }
  .navbar {
    background-color: darkgreen;
    overflow: hidden;
    text-align: center; 
  }
  
  .tab {
    display: inline-block; 
    color: yellow;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: garamond, serif;
  }
  
  .tab:hover {
    background-color: yellow;
    color: darkgreen;
  }