body {
    margin: 0;
    padding: 0;
    background-image: url('MHT1.jpg');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
  }
  .top-bar {
    background-color: darkgreen;
    padding: 10px 0; /* Add some vertical padding */
    text-align: center;
  }
  
  .return-home {
    color: yellow;
    text-decoration: none;
    font-family: Arial, sans-serif; /* Use Arial font */
  }
  
  .video-container,
  .image-container {
    text-align: center;
    margin: 20px 0;
  }
  
  .video-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  
  .video-container iframe {
    max-width: 100vw;
    height: auto;
  }
  
  .image-container img {
    max-width: 20vw; 
    height: auto;
  }
  
  .large {
    max-width: 90vw;
  }
    .top-video {
        margin-left: 60px; 
      }