h1,h2,h3,h4,p {
    text-align:center;
}
body {
    background-image: url('holymountain.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    display: flex;
}

.column {
    flex: 1;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7); 
}
.small-image {
    width: 75px; 
    height: auto; 
    margin-right: 10px; 
}
@media only screen and (max-width: 600px) {
    body {
    background-image: url('holymountain.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
        font-size: 14px;

    }
    .container {
        width: 90%;
        margin: 0 auto;
    }
}