body {
    background-color: hsl(207, 90%, 50%);
}
body {
    font-family: "Arial";
}
body {
    text-align: center;
}
h1 {
    font-style: italic;
    padding-top: 10px;
}
p {
    font-size: 45px;
}
.title {
    font-weight: bold;
}
#theend {
    color: hsl(0, 92%, 26%); 
}
div {
    padding: 50px;
    margin: 80px;
    border: 10px solid black;
}
